<!DOCTYPE html>
<html lang="kor" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>MAIN PAGE</h1>

    <!--<h1 th:text="${#authentication.name}"></h1> </br>
    <h1 th:text="${#authentication.principal.storeName}"></h1> </br>
    <h1 th:text="${#authentication.principal.role}"></h1> </br>

    <h1 th:text="${#authentication}"></h1> </br>-->
</body>

<script>
    const url = "http://localhost:8081/api/sse/connect";    // 접속주소
    const eventSource = new EventSource(url);               // sse 연결

    eventSource.onopen = event => {
        console.log("sse connection");
        console.log(event);
    }

    eventSource.onmessage = event => {
        console.log("receive data :" + event.data);
    }
</script>
</html>